http://app-mb01ad.intra.aexp.com:5555/offerservice_app/.*

http://mycaservicese1qenterprise.webqa.ipc.us.aexp.com:5555/amexsite/.*
http://mycaservicese1qenterprise.webqa.ipc.us.aexp.com:5555/loyalty/services/process/loyaltyaccountinfo/.*

http://mycaservicese1qonline.webqa.ipc.us.aexp.com:5555/account_servicing/.*
http://mycaservicese1qonline.webqa.ipc.us.aexp.com:5555/authorizations/.*
http://mycaservicese1qonline.webqa.ipc.us.aexp.com:5555/myca/creditstatus/.*
http://mycaservicese1qonline.webqa.ipc.us.aexp.com:5555/myca/pays/.*

http://mycasvce1qglobal.webqa.ipc.us.aexp.com:5555/GRAT/.*
http://mycasvce1qglobal.webqa.ipc.us.aexp.com:5555/ecommsvc/.*
http://mycasvce1qglobal.webqa.ipc.us.aexp.com:5555/loyalty/services/process/bonusinfo/.*
http://mycasvce1qglobal.webqa.ipc.us.aexp.com:5555/myca/global/.*
http://mycasvce1qglobal.webqa.ipc.us.aexp.com:5555/myca/mrdetails/.*
http://mycasvce1qglobal.webqa.ipc.us.aexp.com:5555/myca/services/.*
http://mycaservicese1qonline.webqa.ipc.us.aexp.com:5555/financials/.*

https://in.api.dev.app.aexp.com/acquisition/.*
https://in.api.qa.app.aexp.com/marketing/.*
https://in.api.dev.app.aexp.com/servicing/.*
http://loyalty-DEV.isl.intra.aexp.com/ICS/AccountUpdateService/.*
